<!DOCTYPE HTML>
<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>INDEX PAGE : THERE IS NOTHING</h1>
    Just Sample
  </body>
</html>
